<%layout("/layouts/boilerplate")%>
<body>
        <div class="content">
    <div class="left">
        <h1>Welcome To  <span>Wanderlust</span></h1>
        <p>Your go to Best Hotel Stays<span> For</span>  <span id="i">Holidays.</span2></p>
            <form method="GET" action="/listings">
                <button>Explore now</button>
            </form>
    </div>
    <div class="right">
        <img src="https://images.unsplash.com/photo-1531419859879-934d18f6c42d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </div>
    </div>
</div>

    
</body>