<%layout ("/layouts/boilerplate")%>
<body>
    <h3>All listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <%for(let i=0;i<allListings.length;i++){%>
            <a href="/listings/<%=allListings[i]._id%>" style="text-decoration:none">
        <div class="col ">
           
            <div class="card">
                <img src="<%=allListings[i].image%>" class="card-img-top" alt="listing_image" style="height:20rem">
                <div class="card-img-overlay">Wanderlust</div>
                <div class="card-body">
                    <p class="card-title"><b><%=allListings[i].title%></b></p>
                    <p class="card-text">&#8377;<%=allListings[i].price.toLocaleString("en-IN")%></p>
                </div>
            </div>
        </div>
    </a>
        <%}%>

    </div>
    
</body>
