<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings">
        <input name="title" type="text" placeholder="Title">
        <br />
        <br />
        <input name="description" type="text" placeholder="Description">
        <br />
        <br />
        <input name="price" type="number" placeholder="Price">
        <br />
        <br />
        <input name="image" type="text" placeholder="Image">
        <br />
        <br />
        <input name="location" type="text" placeholder="Location">
        <br />
        <br />
        <input name="country" type="text" placeholder="Country">
        <button>Submit</button>
    </form>
</body>
</html>