<%layout ("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
     <div class="col-8 offset-2">
        
    <h3 >Create a new listing</h3>
   
    <form method="POST" action="/listings">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" type="text" placeholder="Title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" type="text" class="form-control"></textarea>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="price" type="number" placeholder="Price" class="form-control">
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="country" type="text" placeholder="Country" class="form-control">
            </div>
        </div>
    
       <div class="mb-3">
           <label for="image" class="form-label">Image</label>
           <input name="image" type="text" placeholder="Image Link/URL" class="form-control">
       </div>
       <div class="mb-3">
           <label for="location" class="form-label">location</label>
           <input name="location" type="text" placeholder="Location" class="form-control">
       </div>

        <button class="btn btn-dark mb-3 add-button">Submit</button>
    </form>
</div>
    </div>
</body>
